* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  background-color: #eee;
  padding: 20px 0;
}

.image {
  width: 250px;
  height: 250px;
}

.price {
  font-size: 25px;
  font-weight: bold;
  padding: 5px 0;
}

.shipping {
  text-transform: uppercase;
  color: #555;
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 20px;
}

.description {
  padding-bottom: 5px;
}

.product-details {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px 0;
}

a:link {
  color: black;
  text-decoration: none;
  padding: 5px 0;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline black;
}

.details-list {
  list-style: square;
  margin: 0 20px;
}

.details-list li {
  padding: 5px;
}

button {
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px 0;
  width: 100%;
  border-top: 5px solid black;
}

button:hover {
  background-color: white;
  color: black;
}

.container {
  width: 825px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
}
