* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  background-color: #eee;
  padding: 20px 0;
}

.image {
  width: 250px;
  height: 250px;
  float: left;
  margin-right: 40px;
}

.price {
  font-size: 25px;
  font-weight: bold;
  padding: 0;
  float: left;
}

.shipping {
  text-transform: uppercase;
  color: #555;
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 20px;
  float: right;
}

.description {
  padding-bottom: 5px;
  clear: both;
}

.product-details {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  padding: 30px 0;
}

a:link {
  color: black;
  text-decoration: none;
  padding: 5px 0;
  text-decoration: underline black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

.details-list {
  list-style: square;
  margin: 0 20px;
}

.details-list li {
  padding: 5px;
}

button {
  background-color: black;
  color: white;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px 0;
  width: 100%;
  border-top: 5px solid black;
}

button:hover {
  background-color: white;
  color: black;
}

.container {
  width: 825px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 5px solid black;
  position: relative;
}

.sale {
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -15px;
  left: -15px;
  letter-spacing: 2px;
}

.color {
  background-color: #000;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 5px;
  margin-top: 20px;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
}

.description-container {
  float: left;
  width: 243px;
  margin-top: 30px;
}

.product-details-container {
  float: right;
  width: 243px;
}
