/*

Typography System: 
  Font weights:
    Default: 400

  Line heights:
    Default: 1

  Font size system (px):
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Colors
  Primary: #e67e22
  Tints:
  Shades:
  Accents:
  Grays: #555

Shadows: 

Border-radius: 

Whitespace: 
  Spacing system (px):
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
